<!DOCTYPE html>
<html>
<head>
  <title>Cards</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

<meta name="viewport" content="initial-scale=1.0, user-scalable=no">

<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<link href='http://fonts.googleapis.com/css?family=Radley' rel='stylesheet' type='text/css'>

</head>
<body>
<script>
  $(document).ready(function (){

    $("#meaning").hide();

    $("#card").click(function () {
      if ($("#meaning").is(":hidden")) {
        $("#meaning").show("fast");
      } else {
        location.reload();
      }
    });
  });
</script>

<%= yield %>

</body>
</html>

